:root{
    --color-background: #1F2E35;
    --color-red: #FF464F;
    --color-red-lighter: #FF666D;
    --color-yellow: #FFBC25;
    --color-yellow-lighter: #FFCA53;
    --color-green: #40DF9F;
    --color-green-dark: #03FF9A;
    --color-purple: #755FE2;
    --color-text: #fff;
    --color-background-lighter : #475E69 ;

    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    height: 100vh;
}

body{
    background: var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text);
}

.container{
    width: 90vw;
    max-width: 700px;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}